.sectionDesc {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.titreGaming {
  text-align: center;
}

.imagedesc {
  height: 400px;
  width: 400px;
}

.description {
  margin-top: 25px;
  width: 350px;
  height: 400px;
  padding: 20px;
  padding: 10px;
  font-size: 1.3em;
  font-family: Montserrat;
}

.sectionCard {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.card {
  background-color: white;
  width: 450px;
  height: 500px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.card h1 {
  text-align: center;
}
.card p {
  text-align: center;
  font-size: 1.2em;
  font-family: Montserrat;
}

.imageCard {
  height: 200px;
  width: 100%;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  object-fit: contain;
}

.detail {
  color: #cc0000;
}

.detail::after {
  content: "+";
  display: inline-block;
  margin-left: 5px;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.detail:hover::after {
  opacity: 1;
}
.cardAbonnement {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.sectionPrix {
  text-align: center;
  font-size: 1.2em;
  font-family: Montserrat;
}
.imageLeft {
  height: 400px;
  width: 400px;
}
.sectionPrix_titre {
  font-size: 1.5em;
  margin-top: 100px;
  font-weight: bold;
  font-family: Montserrat;
}
.prixAbb {
  color: #cc0000;
  margin-right: 5px;
  font-size: 2.4em;
}


.parMois {
  color: #b6b8ba;
  font-size: 20px;
  font-weight: normal;
}
.buttonAbb {
  background-color: #cc0000;
  border: 2px solid white;
  color: white;
  border-radius: 10px;
  padding: 10px 20px;
  transition: border-color 0.3s ease;
}
.buttonAbb:hover {
  border-color: #cc0000;
  background-color: white;
  color: #cc0000;
  cursor: pointer;
}

.prix-container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: bold;
  color: #333;
}
