<body>
    <h1>Freebox Gaming</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur architecto sed maxime earum ipsum porro tempore qui, iusto delectus 
        quia quod dignissimos ab rem blanditiis vel iste harum vero odit?
    </p>
    <video src="../../assets/video/v8-teaser-1-hi.mp4" autoplay muted width="420" height="315">
    </video>
    <h1>Internet à toute vitesse</h1>
    <img src="../../assets/images/popYellowCircle.png" alt="popYellowCircle">
    <h2>La Fibre ultra rapide.</h2>
    <p>
        Regardez un film ou une série, passez vos appels en visio, téléchargez vos fichiers, jouez en réseau. Tous vos usages à toute vitesse, en même temps et sans interruption.
        La Fibre aussi rapide c’est seulement chez Free ! *
    </p>
    <h2>La dernière génération de Wi-Fi.</h2>
    <p>
        La Freebox Pop intègre désormais le Wi-Fi 6 pour vous offrir une vitesse de connexion encore plus rapide. Profitez de débits jusqu’à 2 fois plus rapides qu’en Wi-Fi 5, à plus de 1 Gbit/s !*
        Le Wi-Fi 6 améliore aussi la qualité de votre Wi-Fi et permet de connecter encore plus d’appareils sans que cela n’encombre votre réseau.
    </p>
    <img src="../../assets/images/wifi6Pop.png" alt="popYellowCircle">
    <p>
        Pour connecter vos équipements mobiles à votre réseau Wi-Fi, 
        rien de plus simple ! Scannez le QR Code qui s'affiche sur le Server Freebox Pop et vous êtes connecté ! 
        Plus besoin de saisir de code Wi-Fi.
    </p>
    <h2>Nouveau Abonnement Free Gaming</h2>
    <div>
        <p>
            Démocratiser le gaming et le rendre accessible pour tous.
        </p>
        <h3>C'est quoi la Free Gaming ?</h3>
        <p>Une nouvelle offre unique pour les gamers. Avec la location des équipements performant inclu</p>
    </div>
</body>
