<body>
    <h1>Freebox Gaming</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur architecto sed maxime earum ipsum porro tempore qui, iusto delectus 
        quia quod dignissimos ab rem blanditiis vel iste harum vero odit?
    </p>
    <img src="../../assets/images/popYellowCircle.png" alt="popYellowCircle">
    <h2>La Fibre ultra rapide</h2>
    <p>
        Regardez un film ou une série, passez vos appels en visio, téléchargez vos fichiers, jouez en réseau. Tous vos usages à toute vitesse, en même temps et sans interruption.
        La Fibre aussi rapide c’est seulement chez Free ! *
    </p>
    <h2>Nouveau Abonnement Free Gaming</h2>
    <div>
        <p>
            Démocratiser le gaming et le rendre accessible pour tous.
        </p>
        <h3>C'est quoi la Free Gaming ?</h3>
        <p>Une nouvelle offre unique pour les gamers. Avec la location des équipements performant inclu</p>
    </div>
</body>
