<body>
    <video src="../../assets/video/v8-teaser-3-hi.mp4" autoplay loop muted width="100%" height=auto>
    </video>
    <h1>Freebox Gaming</h1>
    <img src="../../assets/images/popYellowCircle.png" alt="popYellowCircle">
    <h2>C'est quoi la Free Gaming ?</h2>
    <p>
        Une nouvelle offre unique pour les gamers. Avec la location des équipements performant inclu
    </p>
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
</body>
